<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="connStr" value="Server=DESKTOP-LHAQ4GH;Database=TestASSEProj;User Id=PayaraUser;Password=1q2w3e;" />
  </appSettings>
</configuration>
